html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Karla',  sans-serif;
}

button {
	
	color:#3e749c;
    font-size: 1.2em;
    border: solid 1.5px #3e749c;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
	
	
}
button {
	
  background: none;
  width: 145px;
  height: 45px;
  margin-top: 15px;
  font-size: 1.2em;
  border-radius: 4px;
  transition: 0.6s;
  overflow: hidden;
}


button:hover {
  background: #3e749c;
  cursor: pointer;
  color: #f0eeec; 
}
button:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  transition: 0.7s;
}
button:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 0.7s;
}
