html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Karla',  sans-serif;
}
body {
  height: 100vh;
  background: #151519;
}

@media (min-width: 768px) {
    body  {
        max-width: 100%; left: 35%;
        margin-top: 6%;
		padding-top: 70px;
        padding-bottom: 50px;
    }
}

button {
	
	color:#3e749c;
    font-size: 1.2em;
    border: solid 1.5px #3e749c;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
	
	
}
button {
	
  background: none;
  width: 145px;
  height: 45px;
  border: solid 1.5px #3e749c;
  margin-top: 15px;
  font-size: 1.2em;
  border-radius: 4px;
  transition: 0.6s;
  overflow: hidden;
}
button:focus {
  outline: none;
}
button:before {
  content: "";
  color: #3e749c; 
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}
button:after {
  content: "";
  color:#f0eeec;
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) scaleX(-15deg);
}
button:hover {
  background: #3e749c;
  cursor: pointer;
  color: #f0eeec; 
}
button:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  transition: 0.7s;
}
button:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 0.7s;
}
